@import url('https://fonts.googleapis.com/css2?family=Alata&family=Fredoka:wght@300..700&display=swap');

body{
     font-family: "Fredoka", sans-serif;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #ffffff;
    border-radius: 10px;
    background-color: #37D4FF;
}

.Presentacion{
    background-color: #247097;
    font-size: 52px;
}

.textoPresentacion{
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #3b5f69;
}

.Pet{
    color: #37D4FF;
}

.fotoHusky{
    margin-top: 50px;
    margin-bottom: 50px;
}

.imgHusky{
    width: 800pxs;
}

.btn-primary{
    background-color: #37D4FF;
    border-color: #37D4FF;
    border-radius: 30px;
}

.btn-primary:hover{
    background-color: #2eb2d6;
    border-color: #2eb2d6;
}

.btnContacts{
    border-radius: 30px;
}

