@import url('https://fonts.googleapis.com/css2?family=Alata&family=Fredoka:wght@300..700&display=swap');

body {
    font-family: "Fredoka", sans-serif;
}

.nav-link {
    text-decoration: none;
    color: black;
    transition: 0.4s;
    border-radius: 10px;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #247097;
}

main {
    background-color: #F8F8F8;
}

.desc-servicios a {
    font-size: clamp(16px, 2vw, 20px);
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #247097;
    transition: 0.4s;
    display: inline-block;
}

.desc-servicios a:hover {
    background-color: #2eb2d6;
}

.desc-servicios a i {
    padding: 0 5px;
}

.cardBg {
    background-image: linear-gradient(rgba(126, 126, 126, 0), rgba(0, 0, 0, 0.5)), url(../img/FondoServiciosMedicos.png);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4%;
    color: #ffffff;
    text-align: center;
}

.container-sm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 15px;
    border-radius: 20px;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
    border: none;
    margin: auto;
    box-shadow: 1px 10px 10px #cacaca;
    transition: 0.3s;
}

.card button{
    background-color: #247097;
    border-color: #247097;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card a {
    background-color: #247097;
    border-color: #247097;
    transition: 0.3s;
}

.card a:hover {
    background-color: #37D4FF;
    border-color: #37D4FF;
}

.social-media a {
    font-size: clamp(18px, 5vw, 20px);
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    transition: 0.4s;
    display: inline-block;
}

.social-media a:hover {
    background-color: #247097;
    color: #FFFFFF;
}

.areas .card {
    margin: 10px;
    transition: 0.3s;
}

.areas .card:hover {
    transform: scale(1.05);
}

.modal-body {
    font-size: 14px;
    text-align: start;
}

.modal-footer a{
    background-color: #247097;
    border-color: #247097;
}

@media (max-width: 767px) {
    nav {
        flex-direction: column;
        gap: 5px;
    }

    .container-sm {
        grid-template-columns: 1fr;
        max-height: 600px;
    }

    .areas .card {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container-sm {
        grid-template-columns: repeat(2, 1fr);
    }

    .areas .card {
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .container-sm {
        grid-template-columns: repeat(3, 1fr);
    }

    .areas .card {
        width: 22%;
    }
}
